name: Run e2e-tests on GitHub

on:
  workflow_call:
    inputs:
      report-prefix:
        description: "Test report name prefix"
        type: string
        default: "test-report"
      e2e-host:
        required: true
        description: "The host URL for end-to-end testing"
        type: string
      next-public-overlay-host:
        required: true
        description: "Overlay domain host"
        type: string
      test-repository:
        description: "E2E tests Git repository"
        type: string
        default: "nepalevov/ai-dial-chat"
      test-branch:
        description: "E2E tests Git branch"
        type: string
        default: "development"
      timeout-minutes:
        description: "The maximum number of minutes to let a job run before GitHub automatically cancels it."
        type: number
        default: 60
      environment-name:
        default: "e2e-test"
        description: "The GitHub environment name to use for the test."
        type: string
    secrets:
      E2E_ADMIN:
        required: true
      E2E_USERNAME:
        required: true
      E2E_OVERLAY_USERNAME:
        required: true
      E2E_PASSWORD:
        required: true
      NEXT_PUBLIC_OVERLAY_USER_BUCKET:
        required: true

concurrency:
  group: ${{ inputs.e2e-host }}
  cancel-in-progress: true

jobs:
  e2e-tests:
    runs-on: ubuntu-latest
    environment:
      name: ${{ inputs.environment-name }}
    timeout-minutes: ${{ inputs.timeout-minutes }}
    env:
      ARTIFACT_ROOT: /tmp/reports
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          repository: ${{ inputs.test-repository }}
          ref: ${{ inputs.test-branch }}
          lfs: true
          persist-credentials: false
      - name: Check Makefile
        run: |
          if [ ! -f Makefile ]; then
            echo "::error:: Makefile not found in the repository"
            exit 1
          fi
          if ! make -n test >/dev/null 2>&1; then
            echo "::error:: Makefile target 'test' not found"
            exit 1
          fi
        shell: bash
      - name: Wait for environment
        run: |
          echo "Expected environment URL ${E2E_HOST}, waiting to be available..."
          ENV_HOSTNAME=$(echo "$E2E_HOST" | awk -F/ '{print $3}')

          wait_for_dns() {
              DOMAIN="$1"
              ATTEMPT=0
              ATTEMPT_LIMIT=90  # retry resolve up to 15 minutes
              ATTEMPT_DELAY=10  # 10 seconds between resolve attempts

              if [ -z "$DOMAIN" ]; then
                  echo "Specify domain name as first argument" >&2
                  return 1
              fi

              BASE_DOMAIN=$(echo "$DOMAIN" | sed -E 's/[^.]+\.(.+)/\1/')
              echo "Query Google public DNS for $BASE_DOMAIN nameservers"
              NS_SERVERS=$(dig +short @8.8.8.8 ns $BASE_DOMAIN)
              if [ -n "$NS_SERVERS" ]; then
                  echo "Detected nameservers for $BASE_DOMAIN:"
                  echo "$NS_SERVERS"
              else
                  echo "Unable to detect nameservers for $BASE_DOMAIN" >&2
                  return 1
              fi

              for NS in $NS_SERVERS
              do
                  while true
                      do
                      echo "Query $NS for $DOMAIN"
                      RESULT=$(dig +short @${NS} "$DOMAIN")
                      if [ ! -z "$RESULT" ]; then
                          if echo "$RESULT" | grep -Eq '[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}'; then
                              echo "$RESULT"
                              break
                          fi
                      fi
                      ATTEMPT=$((ATTEMPT+1))
                      if [ $ATTEMPT -le $ATTEMPT_LIMIT ]; then
                          sleep $ATTEMPT_DELAY
                      else
                          echo "Unable to resolve $DOMAIN" >&2
                          return 1
                      fi
                  done
              done
          }

          wait_for_dns ${ENV_HOSTNAME}
          curl --retry 30 --retry-delay 10 --retry-all-errors --fail --insecure --no-progress-meter --location --head -o /dev/null -w "%{http_code}\n" -X GET "${E2E_HOST}"/api/health
        shell: bash
        env:
          E2E_HOST: ${{ inputs.e2e-host }}
          NEXT_PUBLIC_OVERLAY_HOST: ${{ inputs.next-public-overlay-host }}
      - name: Run tests
        run: make test
        shell: bash
        env:
          # TODO: deal with ai-dial-chat tests specific variables
          E2E_HOST: ${{ inputs.e2e-host }}
          E2E_ADMIN: ${{ secrets.E2E_ADMIN }}
          E2E_USERNAME: ${{ secrets.E2E_USERNAME }}
          E2E_OVERLAY_USERNAME: ${{ secrets.E2E_OVERLAY_USERNAME }}
          E2E_PASSWORD: ${{ secrets.E2E_PASSWORD }}
          NEXT_PUBLIC_OVERLAY_HOST: ${{ inputs.next-public-overlay-host }}
          NEXT_PUBLIC_OVERLAY_USER_BUCKET: ${{ secrets.NEXT_PUBLIC_OVERLAY_USER_BUCKET }}
      - name: Upload test reports
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02
        if: ${{ !cancelled() }}
        with:
          name: "${{ inputs.report-prefix }}-${{ github.run_id }}"
          path: ${{ env.ARTIFACT_ROOT }}
          retention-days: 30
